
    #scroll-view {
        height: 80vh;
        border: solid yellow;
    }
    
    #message-container {
        width: 100%;
        margin-bottom: 1;
        overflow-y: auto; # added when you want horizontal scrolling
    }
    
    .message {
        margin-bottom: 11;
        background: $primary-background;
        color: $text;
        padding: 1;
        height: 80%;
        width: 100%;
    }
